html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Tajawal", sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: "Tajawal", sans-serif;
}

h3 {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 80px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  color: black;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .menu {
  display: block;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.navbar .menu ul li {
  margin: 20px;
}

.navbar .menu ul li a {
  text-decoration: none;
  color: black;
}

.navbar .menu ul li a:hover {
  color: #F13173;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger i {
  cursor: pointer;
  font-size: 25px;
  color: black;
}

.navbar .hamburger .expanded-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: white;
}

.navbar .hamburger .expanded-menu .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 20px 50px 0;
}

.navbar .hamburger .expanded-menu .close-button i {
  color: black;
}

.navbar .hamburger .expanded-menu .menu-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar .hamburger .expanded-menu .menu-div a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
  .navbar .menu {
    display: none;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: url("img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
}

.about h2 {
  text-transform: uppercase;
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .content .about-image {
  width: 50%;
}

.about .content .about-image img {
  width: 100%;
  border-radius: 5px;
}

.about .content .about-context {
  width: 50%;
  padding: 0 40px;
}

.about .content .about-context p {
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .content .about-image {
    width: 100%;
  }
  .about .content .about-context {
    width: 100%;
    padding: 20px 0;
  }
}

.service {
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: -1 !important;
}

.service h2 {
  text-transform: uppercase;
}

.service .item {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.service .item img {
  border-radius: 5px;
}

.service .item .overlay {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .item .overlay h3 {
  font-family: "Tajawal", sans-serif;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 20px;
}

.service .item .overlay .image-api-div {
  width: 100%;
  height: 300px;
}

.service .item .overlay .image-api-div img {
  width: 100%;
  height: 100%;
}

.service .item .overlay #select {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  margin: 20px 0;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.service .item .overlay #select:hover {
  background: #F13173;
  border: 1px solid #F13173;
  color: white;
}

@media (max-width: 768px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  .service .item .overlay h3 {
    font-size: 1.5rem;
  }
  .service .item .overlay .image-api-div {
    height: 250px;
  }
}

.contact {
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 600px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
}

.contact h2 {
  text-transform: uppercase;
}

.scroll-up {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 0;
}

.scroll-up button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: transparent;
}

.scroll-up button i {
  font-size: 30px;
}

.scroll-up:hover {
  background: #F13173;
  border-radius: 50%;
}

.scroll-up:hover i {
  color: white;
}

.footer {
  width: 100%;
  height: 70px;
  background: #F13173;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
/*# sourceMappingURL=main.css.map */